<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18545657467-dfoknqor7q6c15pjptf0tmarfng69561.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18545657467-dfoknqor7q6c15pjptf0tmarfng69561</string>
	<key>API_KEY</key>
	<string>AIzaSyDoNtvH07cFxLKBj6mDl3gR3eS0JIp1Erk</string>
	<key>GCM_SENDER_ID</key>
	<string>18545657467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hmz.client</string>
	<key>PROJECT_ID</key>
	<string>flutteram-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>flutteram-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18545657467:ios:89d54e897577ae5bd104de</string>
</dict>
</plist>